/*font-family: 'Bebas Neue', sans-serif;*/

/*carga de fuentes*/
@font-face {
    font-family: Roboto-Regular;
    src: url(../assets/font/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Black;
    src: url(../assets/font/Roboto-Black.ttf);
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 10px;
}

/*tarjeta*/
.card{
    display: flex;
    align-content: center;
    margin-bottom: 10px;
}

.card .imagen img{
    padding: 20px 20px 10px 20px;
}

.card .imagen-piloto{
    position: relative;
    padding: 20px 20px 10px 20px;
}

.card .imagen-piloto .imagen-bandera{
    width: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 4px;
}

.card .imagen-piloto .imagen-escuderia{
    width: 40px;
    position: absolute;
    top:60px;
    right: 20px;
}

.contenedor .card .card-body{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.card .card-body .card-body-nombre{
    display: flex;
    justify-content: center;
}

.card .card-body .card-body-nombre .nombre{
    font-family: Roboto-Regular; 
    font-size: 23px;
    padding-top: 2px;
    margin-right: 5px;
    margin-bottom: 0;
}

.card .card-body .card-body-nombre .apellido{
    font-family: Roboto-black;
    font-size: 25px;
    margin-bottom: 0;
}

.card-body .card-body-datos{
    display: flex;
    justify-content: center;
}

.card-body-datos .card-body-datos-numero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.card-body-datos-numero img{
    width: 100%;
}

.card-body-datos .card-body-datos-personal{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
}

.card-body-datos-personal-pais{
    display: flex;
    width: 100%;
}

.card-body-datos-personal-pais p{
    width: 50%;
    font-weight: bold;
    margin: 0;
}

.card-body-datos-personal-pais img{
    width: 26%;
}

.card-body-datos-personal-escuderia{
    display: flex;
}

.card-body-datos-personal-escuderia p{
    font-weight: bold;
    margin: 0;
    padding-top: 5px;
}

.card-body-datos-personal-escuderia img{
    width: 26%;
    margin-left: 5px;
    padding-bottom: 4px;
}

.boton-modal{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;    
}

.contenedor .red-bull{
    border: #3671C6 2px solid;
}

.contenedor .mercedes{
    border: #6CD3BF 2px solid;
}

.contenedor .ferrari{
    border: #F91536 2px solid;
}

.contenedor .aston-martin{
    border: #358C75 2px solid;
}

.contenedor .mclaren{
    border: #F58020 2px solid;
}

.contenedor .alpine{
    border: #2293D1 2px solid;
}

.contenedor .williams{
    border: #37BEDD 2px solid;
}

.contenedor .alphatauri{
    border: #5E8FAA 2px solid;
}

.contenedor .alfa-romeo{
    border: #C92D4B 2px solid;
}

.contenedor .haas{
    border: #B6BABD 2px solid;
}

.contenedor .card:hover{
    border: gold 3px solid;
}

/*modal*/
.modal-content{
    height: 550px;
}

.modal-contenedor{
    width: 800px;
}

.modal-header h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 45px;
}

.informacion-personal, .estadisticas{
    height: 50%;
}






