.contenedor{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*tarjeta*/
.contenedor .card{
    display: flex;
    align-content: center;
}

.contenedor .card:hover{
    border: gold 2px solid;
}

.card .imagen img{
    padding: 20px 20px;
}

.contenedor .card .card-body{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.card .card-body .card-body-nombre{
    display: flex;
    justify-content: center;
}

.card .card-body .card-body-nombre h2{
    text-align: center;
    margin-bottom: 15px;
}

.card-body .card-body-datos{
    display: flex;
}

.card-body-datos .card-body-datos-numero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.card-body-datos-numero img{
    width: 100%;
}

.card-body-datos .card-body-datos-personal{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
}

.card-body-datos-personal-pais{
    display: flex;
    width: 100%;
}

.card-body-datos-personal-pais p{
    width: 50%;
    font-weight: bold;
    margin: 0;
}

.card-body-datos-personal-pais img{
    width: 26%;
}

.card-body-datos-personal-escuderia{
    display: flex;
}

.card-body-datos-personal-escuderia p{
    font-weight: bold;
    margin: 0;
    padding-top: 5px;
}

.card-body-datos-personal-escuderia img{
    width: 26%;
    margin-left: 5px;
    padding-bottom: 4px;
}

.boton-modal{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.boton-modal button{
    width: 90%;
}


/*modal*/
.modal-content{
    width: 1300px;
}

.modal-img{
    width: 300px;
}

.modal-cuerpo{
    width: 1000px;
}


